@model Vindorel_Online.Models.Players
@{
    Layout = null;
}

<!DOCTYPE html>

<html data-wf-site="5664718fcdf237d35fd4534f" data-wf-page="56674863acde993364d49858" lang="tur">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Webflow">
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/normalize.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/webflow.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/vindoreltest.webflow.css")>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
        WebFont.load({
      google: {
        families: ["Baumans:regular"]
      }
        });
        
    </script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/modernizr.js")></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico">
    <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
</head>
       <body class="body2">
            <div class="w-form form5">
               
                @using (Html.BeginForm("Create", "Vindorel", FormMethod.Post, new { id = "email-form", name = "email-form", @class = "form78" }))
                {
                    <label for="name">Login:</label>
                    @Html.TextBoxFor(newuser => newuser.Login, new { id = "name", @class = "w-input form4", @type = "text", name = "name", required = "required", placeholder = "Enter your login id" })
                    <label for="field">Password:</label>
                    @Html.TextBoxFor(newuser => newuser.Password, new { id = "field", @class = "w-input form4", @type = "text", name = "field", required = "required", placeholder = "Enter your password" })
                    <label for="email">Email Address:</label>
                    @Html.TextBoxFor(newuser => newuser.Email, new { id = "email", @class = "w-input form4", @type = "email", name = "email", required = "required", placeholder = "Enter your Email" })
                    <div class="w-radio w-clearfix radio">
                        @Html.RadioButtonFor(newuser => newuser.Race,"Orc",new { id = "Orc", name = "Radio1", @type = "radio", value = "Orc",required="required",@class = "w-radio-input chooser" })
                        <label for="Orc" class="w-form-label">Orc</label>
                    </div>
                    <div class="w-radio w-clearfix radio">
                        @Html.RadioButtonFor(newuser => newuser.Race,"Human",new { id = "Human", name = "Radio1", @type = "radio", value = "Human", required = "required", @class = "w-radio-input chooser" })
                        <label for="Human" class="w-form-label">Human</label>
                    </div>
                    <label>Choose a job:</label>
                    <div class="w-radio w-clearfix">
                        @Html.RadioButtonFor(newuser => newuser.Job,"Farmer",new { id = "Farmer", name = "radio", @type = "radio", value = "Farmer", required = "required", @class = "w-radio-input" })
                        <label for="Farmer" class="w-form-label">Farmer</label>
                    </div>
                    <div class="w-radio w-clearfix">
                        @Html.RadioButtonFor(newuser => newuser.Job,"Miner",new { id = "Miner", name = "radio", @type = "radio", value = "Miner", required = "required", @class = "w-radio-input" })
                        <label for="Miner" class="w-form-label">Miner</label>
                    </div>
                    <div class="w-radio w-clearfix">
                        @Html.RadioButtonFor(newuser => newuser.Job,"Warrior",new { id = "Warrior", name = "radio", @type = "radio", value = "Warrior", required = "required", @class = "w-radio-input" })
                        <label for="Warrior" class="w-form-label">Warrior</label>
                    </div>
                    <div class="w-radio w-clearfix">
                        @Html.RadioButtonFor(newuser => newuser.Job,"Monk",new { id = "Monk", name = "radio", @type = "radio", value = "Monk", required = "required", @class = "w-radio-input" })
                        <label for="Monk" class="w-form-label">Monk</label>
                    </div>
                    <div class="w-radio w-clearfix">
                        @Html.RadioButtonFor(newuser => newuser.Job,"Builder",new { id = "Builder", name = "radio", @type = "radio", value = "Builder", required = "required", @class = "w-radio-input" })
                        <label for="Builder" class="w-form-label">Builder</label>
                    </div>
                    <div class="w-radio w-clearfix">
                        @Html.RadioButtonFor(newuser => newuser.Job,"Engineer",new { id = "Engineer", name = "radio", @type = "radio", value = "Engineer", required = "required", @class = "w-radio-input" })
                        <label for="Engineer" class="w-form-label">Engineer</label>
                    </div>

                    <input type="submit" value="Create" data-wait="Please wait..." class="w-button login">
                }
               
                
                <div class="w-form-done">
                    <p>Thank you! Your submission has been received!</p>
                </div>
                <div class="w-form-fail">
                    <p>Oops! Something went wrong while submitting the form</p>
                </div>
            </div>
            <div class="divright"></div>
            <div class="w-row collumns">
                <div class="w-col w-col-4 collumn a"></div>
                <div class="w-col w-col-4 collumn">
                    <h1 class="racehead">Races</h1>
                    <p class="p">
                        Lorem
                        <rteselectionmarker></rteselectionmarker> ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                    </p><img width="55" src=@Url.Content("~/images/clenched.png") class="img2 bow">
                    <p class="p p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p><img width="51" src=@Url.Content("~/images/sword9.png") class="img2">
                </div>
                <div class="w-col w-col-4 collumn">
                    <h1 class="racehead">Jobs</h1>
                    <ul class="w-list-unstyled list list2">
                        <li>
                            <img src=@Url.Content("~/images/dig.png")>
                        </li>
                        <li>
                            <img src=@Url.Content("~/images/christian16.png")>
                        </li>
                        <li>
                            <img src=@Url.Content("~/images/ax3.png")>
                        </li>
                    </ul>
                    <ul class="w-list-unstyled list">
                        <li class="l1">
                            <p class="par l3">MINER</p>
                            <p class="par l4">
                                MONK
                                <br><span class="prostext">+Culture</span>
                            </p>
                            <p class="par">FARMER</p>
                            <p class="par l7">
                                WARRIOR
                                <br><span class="prostext">+Military Train Speed</span>
                            </p>
                            <p class="par">
                                FARMER
                                <br><span class="prostext">+Food and Population</span>
                            </p>
                            <p class="par l3">
                                MINER
                                <br><span class="prostext">+Mine Business</span>
                            </p><img src=@Url.Content("~/images/shovel26.png")>
                        </li>
                        <li>
                            <img src=@Url.Content("~/images/settings48.png")>
                            <p class="par l1">
                                ENGINEER
                                <br><span class="prostext">+Research Speed</span>
                            </p>
                        </li>
                        <li>
                            <img src=@Url.Content("~/images/medieval18.png")>
                            <p class="par l2">
                                BUILDER
                                <br><span class="prostext">+Construct Speed</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
           <script type="text/javascript" src=@Url.Content("https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")></script>
           <script type="text/javascript" src=@Url.Content("~/Scripts/webflow.js")></script>
           <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
        </body>
</html>
