@using System.Security.Claims
@{
    VindorelDbContext _context = new VindorelDbContext();
    ViewData["Title"] = User.GetUserName();
    var UserTown = _context.Towns.LastOrDefault(x => x.UserId == User.GetUserId());
    var TownPop = _context.Population.LastOrDefault(x => x.TownId == UserTown.TownId);
    var Settings = _context.UserGameSettings.LastOrDefault(x => x.UserId == User.GetUserId());
}

<!DOCTYPE html>
<html data-wf-site="5664718fcdf237d35fd4534f" data-wf-page="5670a3f35529a4241cd10de4" lang="tur">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Vindorel is The Multiplayer Town and Lord management game.The people have their own hero to climb the ladder of courage.There is a lot of land to conquer and lands to loose.The power inside you will light your path trough the darkness.Or Will you be the darkness itself. Can you fight against yourself?.This world is Cruel and bloody.Choose your side to fight. Conquer the World which noone have enough courage to see.">
    <meta name="keywords" content="role playing game,game,strategy game,mmorts,town management,town,hero,heroes,battle,town battle,orc,human,warrior,upgrades,farm,iron,wood,food,populations,battle town,clash of towns,World of Vindorel,WoV,choose your side,battle arenas,Conquer,karma,darkness,races">
    <title>@ViewData["Title"]</title>
    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="~/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="~/css/webflow.css">
        <link rel="stylesheet" type="text/css" href="~/css/vindoreltest.webflow.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/vindoreltest.webflow.css" asp-append-version="true" />
    </environment>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
    WebFont.load({
      google: {
        families: ["Baumans:regular"]
      }
    });
    </script>
    <script type="text/javascript" src="~/js/modernizr.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico">
    <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
</head>
<body class="w-clearfix game">
    <div class="w-section w-clearfix headersection">
        <div class="playerresources">
            <a href="#" class="w-inline-block">
                <img src="~/images/mail59.png" data-ix="popu" class="messages">
            </a>
            <a href="/Game/MyAccount" class="w-inline-block">
                <img src="~/images/user168.png" data-ix="popu" class="myaccount">
            </a>
            <a href="#" class="w-inline-block">
                <img src="~/images/tools6.png" data-ix="popu" class="settings">
            </a>
            <img src="~/images/sign4.png" data-ix="popu" class="signout">
            <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="w-inline-block linkblocks">
                <button type="submit" class="w-inline-block linkblocks">
                </button>
                </form>
       </div>
        <div class="logindesc">Welcome @User.GetUserName(), You Are in @UserTown.TownName</div>
        <div class="rightres">
            <img width="26" src="~/images/meat.png" class="meat">
            <div class="meattext">Meat : @UserTown.TownMEAT</div>
            <div class="irontext">Iron : @UserTown.TownIRON</div><img width="24" src="~/images/bread-32.png" class="bread">
            <div class="restext">Wood :@UserTown.TownWOOD&nbsp;</div>
            <div class="breadtext">Wheat :@UserTown.TownWHEAT</div><img width="28" src="~/images/ironicon.png" class="iron"><img width="24" src="~/images/pine-trees-icon.png" class="wood"><img width="16" src="~/images/coin_stacks_gold.png" class="traderpop">
            <div class="poptrade">Traders:@TownPop.TraderPop</div>
            <div class="popmilitary">Anarchists:@TownPop.AggressivePop</div>
            <div class="popcultural">Intellectuals:@TownPop.CulturalPop</div><img width="16" src="~/images/book-open-icon.png" class="cultureppl"><img width="16" src="~/images/Fire.png" class="firedpop">
        </div>
        <div class="vindorel">
            <h1 href="/Game/Index/" class="vin">VindorelOnline</h1><img width="546" src="~/images/clipart-celtic-sword-silhouette-by-rones-256x256-a78e.png" class="sword">
            <p class="slog">Courage Must Be Earned</p>
        </div>
    </div>
    <div class="w-section right2section"></div>
    <div class="w-section leftsection"></div>
    <div class="w-row rowmenu">
        <div class="w-col w-col-2 rowcollumn text">
            <a href="/Game/Buildings/" class="w-inline-block rowcollumn links">
                <div class="menus">Buildings</div>
            </a>
        </div>
        <div class="w-col w-col-2 rowcollumn text">
            <a href="#" class="w-inline-block rowcollumn links">
                <div class="menus">Army</div>
            </a>
        </div>
        <div class="w-col w-col-2 rowcollumn text">
            <a href="#" class="w-inline-block rowcollumn links">
                <div class="menus">Technology</div>
            </a>
        </div>
        <div class="w-col w-col-2 rowcollumn text">
            <a href="#" class="w-inline-block rowcollumn links">
                <div class="menus">Map</div>
            </a>
        </div>
        <div class="w-col w-col-2 rowcollumn text">
            <a href="#" class="w-inline-block rowcollumn links">
                <div class="menus">Innhouse</div>
            </a>
        </div>
        <div class="w-col w-col-2 rowcollumn text">
            <a href="#" class="w-inline-block rowcollumn links">
                <div class="menus">Battle</div>
            </a>
        </div>
    </div>
    <div class="gamewindow">
        <p class="openning">
            When you wake up in the middle of Urahar Hills.
            <br>
            <br>The Sun will fall to your knees.
            <br>
            <br>The Swords will cry to @Settings.God.
            <br>
            <br>
            <br>You have to claim what you deserve.
            <br>
            <br>You must bring the peace to your lands!
            <br>
            <br>Or be doom to World of Vindorel!
        </p>
        <h2 class="starter">Welcome To World of Vindorel</h2>
        <p class="openning right">
            Your people believes on you &nbsp;@User.GetUserName()!&nbsp;
            <br>
            <br>You took your people to find new land after Epic Battle of Karsukar'ul...
            <br>
            <br>At the end of big sand storms &nbsp;
            <br>
            <br>Finally...
            <br>
            <br>You and your people claim a new land at
            <br>
            <br>Sharazirs Mountains.
            <br>
            <br>
            <br>
            <br>Your fate in your hands.
            <br>
            <br>CHOOSE YOUR DESTINY....
        </p>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/webflow.js"></script>
    <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
