@model Vindorel_Online.Models.Players
@{
    Layout = null;
    ViewBag.Title = "Vindorel Online";
}
<!DOCTYPE html>
<html data-wf-site="5664718fcdf237d35fd4534f" data-wf-page="5664718fcdf237d35fd45350" lang="tur">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Webflow">
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/normalize.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/webflow.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/vindoreltest.webflow.css")>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
        WebFont.load({
      google: {
        families: ["Baumans:regular"]
      }
    });
    </script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/modernizr.js")></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico">
    <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
</head>
<body class="index">
    <div class="w-section upper">
        <div class="w-form login-form">
            @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { id = "email-form", name = "email-form", @class = "formlogin" }))
            {
                @Html.Hidden("returnUrl",Request.Url.PathAndQuery)

                @Html.ValidationSummary(true, "Login Failed.Check your details", new { @class = "formlogin" })
                <label for="name">Login:</label>
                @Html.TextBoxFor(m => m.Login, new {id="name",@type ="text",placeholder="Login id",required="required",name="name",@class="w-input formismail"})
                <label for="email">Password:</label>
                @Html.PasswordFor(m => m.Password, new { id = "password", @type = "password", placeholder = "Password", name = "email", required = "required", @class = "w-input formismail" });<a href="@Url.Action("Create", "Index")" data-ix="buttonsize" class="w-button registerbutton">Register &nbsp;&nbsp;</a>
                <input type="submit" value="Login" data-wait="Please wait..." data-ix="buttonsize" class="w-button button4">
            }
            <div class="w-form-done">
                <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
                <p>Oops! Something went wrong while submitting the form</p>
            </div>
        </div>
        <div class="w-clearfix header">
            <h1 data-ix="onload" class="vindorelh1">VİNDOREL ONLİNE</h1>
           
            <h2 data-ix="bulanik" class="midheadline">Courage Must Be Earned</h2><img width="120" height="400" src=@Url.Content("~/images/sword.png") data-ix="caprazsag" class="sw2"><img width="120" height="400" src=@Url.Content("~/images/sword.png") data-ix="caprazsol" class="sw1">
        </div><a href="#" data-ix="buttonplay" class="w-button playbutton">PLAY NOW</a>
        
    </div>
    <div class="w-section low"></div>
    <script type="text/javascript" src=@Url.Content("https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/webflow.js")></script>
    <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->

</body>
</html>